extensions:
    crunz: DekApps\Crunz\DI\CrunzExtension

crunz:
    tasks:
        - 
            command: 'ls'
            parameters: [ '-la' , '-rt' ]
            runningWhen: 'everyMinute'
            on: ''
            at: ''
            in: ''
            from: ''
            to: ''
            preventOverlapping: true
            description: ''
        - 
            command: 'du'
            parameters: [ '-hS' : '' ]
            expression: '* * * * *'
            preventOverlapping: true
            description: ''
        - 
            command: [@testSer, run]
            expression: '* * * * *'
            preventOverlapping: false
            description: 'Tests\DekApps\TestService'

services:
    testSer: Tests\DekApps\TestService